.log-reg_container{
   
    padding-top: 20px;
    padding-bottom: 20px;
    display:flex;
    justify-content:center;
}


.log-reg_container>img{
    background-size: cover;
max-height: 550px;
border-top-left-radius: 12px;
border-bottom-left-radius: 12px;
width: 200px;


}
.form-side{
    border:3px solid #1111;
    max-height: inherit;
    max-width: inherit;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.log-reg_container Button{
    float:right;
}
